{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>CCS-Banco de Proyectos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inscribir Idea</h2>
        <p>
            Programar Inscribir Idea. Le toca a Nero.
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscribir Proyecto</h2>
        <p>Programar Inscribir Proyecto. Le toca a Nero.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>Programar Consultas. Le toca a Nero, yo solo cobro</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
