{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>CCS-Banco de Proyectos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inscribir Idea</h2>
        <p>
            Inscribir Idea. En construccion.
        </p>
        <p><a class="btn btn-default" href="http://google.com.co">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscribir Proyecto</h2>
        <p>Inscribir Proyecto. En construccion.</p>
        <p><a class="btn btn-default" href="http://google.com.co">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consultas</h2>
        <p>Programar Consultas. En construccion.</p>
        <p><a class="btn btn-default" href="http://google.com.co">Ver mas &raquo;</a></p>
    </div>
</div>

{% endblock %}
